.navbar {
    background: linear-gradient(to right, #000000, #060053);
    padding: 12px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 45px;
    width: auto;
    margin-right: 10px;
}

.navbar-name {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-right: 30px;
}

.navbar-nav .nav-link {
    color: #535353;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s, border-bottom 0.3s;
}


.navbar-nav .nav-link:hover {
    color: white;
    border-bottom: 2px solid white;
}

.hero-section {
    padding: 80px 0 10px 0;
    text-align: center;
    background: linear-gradient(to right, #000000, #060053);
    color: white;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.484);

}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
    text-align: left;
}

.about-image {
    border: 3px solid #ffffff;
    width: 190px;
    height: 170px;
    object-fit: cover;
    margin-right: 30px;
    flex-shrink: 0;
    border-radius: 50%;
}

.about-text {
    font-size: 18px;
    color: white;
}

.section {
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(to right, #000000, #060053);
    color: white;
}

.section-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: #d3d3d3;
    color: black;
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 18px;
    }
    .hero-title {
        font-size: 28px;
    }
    .hero-subtitle {
        font-size: 16px;
    }
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .about-image {
        margin-bottom: 15px;
    }
}
